Source: ros-jade-moveit-ros
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-jade-moveit-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-moveit-ros-benchmarks, ros-jade-moveit-ros-benchmarks-gui, ros-jade-moveit-ros-manipulation, ros-jade-moveit-ros-move-group, ros-jade-moveit-ros-perception, ros-jade-moveit-ros-planning, ros-jade-moveit-ros-planning-interface, ros-jade-moveit-ros-robot-interaction, ros-jade-moveit-ros-visualization, ros-jade-moveit-ros-warehouse
Description: Components of MoveIt that use ROS
