Source: ros-hydro-moveit-ros-visualization
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometric-shapes, ros-hydro-interactive-markers, ros-hydro-moveit-ros-perception, ros-hydro-moveit-ros-planning-interface, ros-hydro-moveit-ros-robot-interaction, ros-hydro-moveit-ros-warehouse, ros-hydro-object-recognition-msgs, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-rviz
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-ros-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometric-shapes, ros-hydro-interactive-markers, ros-hydro-moveit-ros-perception, ros-hydro-moveit-ros-planning-interface, ros-hydro-moveit-ros-robot-interaction, ros-hydro-moveit-ros-warehouse, ros-hydro-object-recognition-msgs, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-rviz
Description: Components of MoveIt that offer visualization
