Source: ros-hydro-moveit-ros-manipulation
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-catkin, ros-hydro-dynamic-reconfigure, ros-hydro-household-objects-database-msgs, ros-hydro-manipulation-msgs, ros-hydro-moveit-core, ros-hydro-moveit-msgs, ros-hydro-moveit-ros-move-group, ros-hydro-moveit-ros-planning, ros-hydro-pluginlib, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-tf
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-ros-manipulation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-dynamic-reconfigure, ros-hydro-household-objects-database-msgs, ros-hydro-manipulation-msgs, ros-hydro-moveit-core, ros-hydro-moveit-msgs, ros-hydro-moveit-ros-move-group, ros-hydro-moveit-ros-planning, ros-hydro-pluginlib, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-tf
Description: Components of MoveIt used for manipulation
